@charset "utf-8";
/* CSS Document */
/* 全局样式 */
*{ padding:0px; margin:0px; font-size:12px;
/*color:#333333;*/ 
font-family: "微软雅黑"}
ul,ol{ padding:0px; margin:0px; list-style:none;}
.clear{ clear:both;}
a{ color:#333; text-decoration:none }
a:hover{ text-decoration:none;}
.yskj
{
	width:98.4%;
	min-width:1000px;
	margin-left: 0.8%;
	   margin-right: 0.8%;
	
}
.richeng
{
	width: 41%;
	height:223px;
	float:left;
	border-radius: 5px 5px 0px 0px;
	margin-top:8px;
	border:solid 1px #4DA1EC;
	min-width: 411px;
	background:#EBF2F6;
}
.richengtp
{
	width:73px;
	height:26px;
	margin-left:10px;	
	text-align:right;
	font-weight:bold;
	font-size:14px;
	float:left;
	color:#015EA0;
	line-height:26px;
	background:url(image/home1.png) left center no-repeat;
}
.zuijinbt
{
	width:155px;
	height:26px;
	line-height:26px;
	margin-left:10px;  
	text-align:right;
	font-weight:bold;
	font-size:14px;
	float:left;
	color:#015EA0;
	background:url(image/home2.png) left center no-repeat;
}
.white{
	background:#ffffff;
}
.zuijinkhbt
{
    width:75px;
    height:26px;
    line-height:26px;
    margin-left:10px;  
    text-align:right;
    font-weight:bold;
    font-size:14px;
    float:left;
    color:#025ea0;
    background:url(image/home3.png) left center no-repeat;
}
.xdbt
{
	width:102px;
	height:26px;
    margin-left:10px;   
	
	text-align:right;
	font-weight:bold;
	font-size:14px;
	float:left;
	color:#025ea0;
	background:url(image/home6.png) left center no-repeat;
}


.wenjuan
{
    width:117px;
        height:26px;
    margin-left:10px; 
    float:left;

    text-align:right;
    font-weight:bold;
    font-size:14px;
    color:#025ea0;
    background:url(image/home7.png) left center no-repeat;
}

.tix
{
    width:129px;
           height:26px;
    margin-left:10px; 
    float:left;
    margin-left:10px;
    text-align:right;
    font-weight:bold;
    font-size:14px;
    color:#015EA0;
     background:url(image/home4.png) left center no-repeat;
    
}
.tix2
{
    width:80px;
    height:26px;
    margin-left:10px; 
    float:left;
    margin-left:10px;
    text-align:right;
    font-weight:bold;
    font-size:14px;
    color:#015EA0;
     background:url(image/home3.png) left center no-repeat; 
}

#zuijinget{padding-left: 5px;}
.richeng .images2 .imagesk{
	height:85px;
	border:none;
}
.richeng .images2 .imagesk img{

	border:none;
}
.richeng .xstj td
{
	height:27px;
	line-height:27px;
	border-bottom:solid 1px #9ED2FF;
	}
.richeng .xstj .rctp
{
	height:26px;
	line-height:26px;
	
	border-bottom:solid 1px #4DA1EC;
}
.richeng .xstj .huei
{
	height:27px;
	line-height:27px;
	background:url(image/rcme.jpg) repeat-x;
	color: #000;
}
.richeng .xstj .zhongj
{
	border-left:solid 1px #9ED2FF;
}
.richeng .xstj .zhongj2
{
    border-left:solid 1px #C5C5C5;
}


.richeng .xstj tr.lan:hover
{
	background:#e8eff3;
}
.richeng .xstj tr.lan
{
	background:#EEF7FF;
}
.richeng .rctp {
    height: 26px;
    line-height: 26px;
   
    border-bottom: 1px solid #4DA1EC;
}
.rili
{	
	width:58%;
	margin-left:0px;
	float:right;
	margin-top:8px;
	min-width:500px;
}
.rili table .huei
{
	height:27px;
	line-height:27px;
	background:url(image/rcme.jpg) repeat-x;

	       color: #000;
}
.rili table .zhongj
{
	border-left:solid 1px #9ED2FF;
}
.rili table .zhongj2
{
    border-left:solid 1px #C5C5C5;
}
.rili td {
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #9ED2FF;
}

.rili table tr.lan:hover
{
	background:#e8eff3;
}
.rili table tr.lan
{
	background:#F1F1F3;
}
.rili table tr.bai
{
	background:#FFFFFF;
}
.rili table tr.bai:hover
{
	background:#e8eff3;
}
.richeng table tr.bai
{
	background:#FFFFFF;
}
.richeng table tr.bai:hover
{
	background:#e8eff3;
}
.tubiaokk{ height:185px;  padding-top: 10px;}
#customerchart{margin: 0 auto;width: 90%;}
#orderchart{margin: 0 auto;width: 90%;}
.zuij{ width:100%}
.chax
{
	float:left;
	width:58%;
	margin-top:17px;
	border-radius: 5px 5px 0px 0px;
	border:solid 1px #C5C5C5;
}
.chax table .rctp
{
	height:26px;
	line-height:26px;
	background:#F1F1F3;
	border-bottom:solid 1px #C5C5C5;
}
.xiabuf
{
	width:100%;
	float:left;
	
}
.chax tr
{
	height:27px;
	line-height:27px;
}
.chax td
{
	border-bottom:solid 1px #C5C5C5;
	border-left:solid 1px #C5C5C5;
}

.chax table .huei
{
	height:27px;
	line-height:27px;
	background:url(image/rcme.jpg) repeat-x;
	   font-weight: bold;
	       color: #5C5C5C
}
.chax table .top
{
	border-left:0;
}
.chax table .bottom
{
	border-bottom:0;
}
.chax table tr:hover
{
	background:#e8eff3;
}
.chax table tr.lan:hover
{
	background:#e8eff3;
}
.chax table tr.lan
{
	background:#F1F1F3;
}
.chaxun
{
	width:110px;
	height:24px;
	float:left;
	margin-left:10px;
	text-align:right;
	font-weight:bold;
	font-size:14px;
	color:#025ea0;
	background:url(image/chaxun.jpg) left center no-repeat;
}
.more
{
	width:80px;
	height:27px;
	float:right;
}
.more a
{
	color:#0879df;
}

.txdc
{
	width:32.9%;
	float:left;
	
		margin-left:1%;
	margin-top:9px;
}
.ggkhc
{
	width:32.9%;
	float:right;
	
	margin-left:1%;
	margin-top:9px;
}
.tixing
{
	background: #EBF2F6;
	border-radius: 5px 5px 0px 0px;
	border:solid 1px #4DA1EC;
}

.tixing tr
{
	height:27px;
	line-height:27px;
}
.tixing td
{
	
}

.tixing table .kongha
{
	padding-left:18px;
}
.tixing table .huei
{
	height:27px;
	line-height:27px;
	background:url(image/rcme.jpg) repeat-x;
	color:#000;
	font-family:"微软雅黑";
}
.tixing table .top
{
	border-left:0;
}
.tixing table .bottom
{
	border-bottom:0;
}

.tixing table tr.lan
{
	background:#EEF7FF;
}
.tixing table .rctp
{
	height:26px;
	line-height:26px;
	
	border-bottom:solid 1px #4DA1EC;
}


.wjdc
{
	border-radius: 5px 5px 0px 0px;
	border:solid 1px #C5C5C5;
	
}


.wjdc tr
{
	height:27px;
	line-height:27px;
}
.wjdc td
{
	border-bottom:solid 1px #C5C5C5;
	border-left:solid 1px #C5C5C5;
}

.wjdc table .huei
{
	height:27px;
	line-height:27px;
	background:url(image/rcme.jpg) repeat-x;
	font-weight: bold;
	color: #5C5C5C
}
.wjdc table .top
{
	border-left:0;
}
.wjdc table .zhongj
{
 padding-left: 10px;
}
.wjdc table .bottom
{
	border-bottom:0;
}
.wjdc table tr:hover
{
	background:#e8eff3;
}
.wjdc table tr.lan:hover
{
	background:#e8eff3;
}
.wjdc table tr.lan
{
	background:#F1F1F3;
}
.wjdc table .rctp
{
	height:26px;
	line-height:26px;
	background:#F1F1F3;
	border-bottom:solid 1px #C5C5C5;
}
.KK{margin-bottom: 8PX;}