
h1
{
    font-size:20px;
    font-family:Verdana;
}
h4
{
    font-size:16px;
    margin-top:25px;
    margin-bottom:10px;
}

.description
{
    padding-bottom:30px;
    font-family:Verdana;
}
.description h3
{
    color:#CC0000;
    font-size:16px;
    margin:0 30px 10px 0px;
    padding:45px 0 8px;
    /*background:url(titleback.png) no-repeat scroll left bottom transparent*/
    border-bottom:solid 1px #888;
}


.topbutton { background-color:#EAEAEA; border-bottom:1px solid #A8A8A8;height:50px; z-index:999; position:fixed; top:0; left:0; width:100%; _position:absolute;_top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible;line-height:50px; padding-left:30px; }

.macdx
{
	margin-left:6px;
	font-size:18px;
}
.mactop a
{
	font-size:16px;
}
#macrg_1
{
	margin-left:30px;
}
.bottomInfo a
{
	float:right;
	margin-right:15px;
	_display:inline;
}
.assbk
{
	width:100%; 
	text-align:center;
}

.asskj
{
	/* width:1000px; */
	margin:0 auto;
	text-align:center;
}

#zsgd
{
	height:235px;
	min-height:235px;
	width:100%;
}

