@charset "utf-8";
/* CSS Document */
/* 全局样式 */
*{ padding:0px; margin:0px; font-size:12px; }
ul,ol{ padding:0px; margin:0px; list-style:none;}
body,ul,ol,dl,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
.clear{ clear:both;}
a{ color:#333; text-decoration:none }
a:hover{  text-decoration:none;}


body{   overflow-x:hidden;
    overflow-y:hidden ;
    }
.wrap{
	width:100%;
	
}
/* 
.header
{
	width: 100%;
	min-width:1003px;
	height: 58px;
	background: #008DE6;
}

.logo
{
	width: 350px;
	height: 58px;
	float: left;
	margin-left: 115px;
	_display:inline;
}

.rightbut
{
	width: 180px;
	height:58px;
	float: right;
	margin-right: 200px;
	_display:inline;
}


.rbut
{
	width: 51px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	float: left;
	margin-left: 8px;
	margin-top: 18px;
	_display:inline;
	background: url(../images/skinw8/but_bg.png) no-repeat;
}
 */
.cont
{
	width: 100%;
	min-width: 1003px;
	overflow-x:hidden;
	background: #E9E9E9;
}

.contmain
{
	width: 100%;
	min-width: 1003px;
	min-height:480px;
    height:99%; 
	overflow-x:hidden;
	overflow-y:hidden;

	z-index:1;
}

.contbtm
{
	width: 100%;
	height: 25px;
	background:#008DE6;
}

.cont-tit
{
	width:100%;
	height: 26px;
	margin-left:5px;
	margin-top: 8px;
	background: #E9E9E9 url(../images/skinw8/cute.jpg) left bottom repeat-x;
}

.page
{
	height: 26px;
	width: 110px;
	line-height: 26px;
	color:white;
	letter-spacing:5px;
	text-align: center;
	background: url(../images/skinw8/page.jpg) left bottom no-repeat;
}

.ge
{
	width: 100%;
	height: 8px;
}

.show
{
	width: 100%;

	overflow-x:hidden;
	overflow-y:hidden 
	
}

.list-icon li
{
	/* float: left;
	height: 110px;
	margin-top: 30px;
	margin-left: 90px; */
		
	float: left;
	padding:15px;
	height:123px;
	overflow:hidden;
	width: 95px;
	margin-top: 2px;
	margin-left: 90px;
}

.list-icon li:hover
{
	background:url(../images/skinw8/li_hoverbg.png) no-repeat;
}


 .left
{
	float: left;
	width: 75px;
	min-height: 19px;
	line-height: 19px;
	max-height:37px;
	margin-left: 5px;
	display: block;
	border-radius:15px;
	padding-left:5px;
	padding-right:5px;
	text-align: center;
	background:#F1F1F3;
	max-height:35px\9;
	padding-top:1px\9;
	padding-bottom:2px\9;
	overflow:hidden;
	border:1px solid #E5E5E5;
	/* behavior: url(http://localhost:8030/commander/template/system/css/PIE.htc); */
	z-index:999;
	color:#74777A;
}

.center
{
	float: left;
	height: 25px;
	min-width:45px;
	margin-left: 10px;
	line-height: 25px;
	text-align: center;
	background: url(../images/skinw8/center.png) left top repeat-x;
	display:block;
	color:black;
	_display:inline-block;
}

.right
{
	float: left;
	width: 12px;
	height: 25px;
	background:url(../images/skinw8/right.png) left top no-repeat;
	display:block;
}

.list-img
{
	text-align: center;
	display: block;
}

.tan
{
	width: 520px;
	height: 490px;
	position:absolute;
	top:10%;
	/*left:30%;*/
	z-index:10;
	background: white;
	display:none;

	border:2px solid teal;
	/*text-align: center;*/
	/*line-height: 490px;*/
}

.zhe
{
	width: 1366px;
	height: 768px;
	left:0;
	top:0;
	background: black;
	position: fixed;
	opacity:0.5;
	filter:"alpha(opacity=50)";
	filter: alpha(opacity=50); 
   	zoom: 1;  
	z-index: 9;
	display:none;
}



/*测试css 可删除*/
.list-icon2
{
	height:200px;
	width: 100%;
	display:block;
}

.list-icon2 li
{
	float: left;
	height: 110px;
	margin-top: 30px;
	margin-left: 90px;
}
.bqlogo{ position:fixed; bottom: 0;right: 0px;}
/*测试css End*/
